extends layout

block content
    section.hero(style='background: url(img/hero.jpg); background-size: cover; background-position: center center')
      .container
        .row
          .col-lg-7
            h1 Start your Academic Query, Here
            a.hero-link(href='#') Discover More
        a.continue.link-scroll(href='.intro')
          i.fa.fa-long-arrow-down
          |  Scroll Down
    section.intro
    .container
     .row
      .col-lg-8
        h2.h3 Some great intro here
        p.text-big
          | Place a nice 
          strong introduction
          |  here 
          strong to catch reader's attention
          | . Project is all about getting academic related queries, so that every student can easily get their answers.
